<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/app/assets/stylesheets/application.scss">
  </head>

  <body>
    <nav class="navbar navbar-light border-bottom" style="background-color: #5f5f5f;">
      <ul>
        <%= link_to (articles_path) do %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" style="width: 30px"/>
        <% end %>
        <%= link_to (new_article_path) do %>
          <li>Add a new article</li>
        <% end %>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
